<!-- Validation failure messages -->
<% if @recommendation.errors.any? %>
  <% @recommendation.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Recommendation</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_recommendation" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input dish="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for dish -->
      <div class="form-group">
        <label for="dish" class="control-label">
          Dish
        </label>
        <input name="dish" type="text" id="dish" dish="dish" placeholder="Dish" class="form-control" value="<%= @recommendation.dish %>">
      </div>

      <!-- Label and input for price -->
      <div class="form-group">
        <label for="price" class="control-label">
          Price
        </label>
        <input name="price" type="text" id="price" dish="price" placeholder="Price" class="form-control" value="<%= @recommendation.price %>">
      </div>

      <!-- Label and input for spicy -->
      <div class="form-group">
        <label for="spicy" class="control-label">
          Spicy
        </label>
        <textarea name="spicy" id="spicy" dish="spicy" placeholder="Spicy" class="form-control" rows="3"><%= @recommendation.spicy %></textarea>
      </div>

      <!-- Label and input for image_url -->
      <div class="form-group">
        <label for="image_url" class="control-label">
          Image url
        </label>
        <input name="image_url" type="text" id="image_url" dish="image_url" placeholder="Image url" class="form-control" value="<%= @recommendation.image_url %>">
      </div>

      <button class="btn btn-success">
        Create Recommendation
      </button>
      or
      <a href="/recommendations">Cancel</a>
    </form>
  </div>
</div>
