<!-- Validation failure messages -->
<% if @entree.errors.any? %>
  <% @entree.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Entree</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_entree" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for movie_id -->
      <div class="form-group">
        <label for="movie_id" class="control-label">
          Dish
        </label>
        <input name="dish" type="text" id="dish" dish="dish" placeholder="Dish" class="form-control" value="<%= @entree.dish %>">
      </div>

      <!-- Label and input for actor_id -->
      <div class="form-group">
        <label for="actor_id" class="control-label">
          Price
        </label>
        <input name="price" type="text" id="price" dish="price" placeholder="Price" class="form-control" value="<%= @entree.price %>">
      </div>

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Spicy
        </label>
        <input name="spicy" type="text" id="spicy" name="spicy" placeholder="spicy" class="form-control" value="<%= @entree.spicy %>">
      </div>

      <div class="form-group">
        <label for="name" class="control-label">
          Image url
        </label>
        <input name="image_url" type="text" id="image_url" placeholder="image_url" class="form-control" value="<%= @entree.image_url %>">
      </div>

      <button class="btn btn-success">
        Create Entree
      </button>
      or
      <a href="/entrees">Cancel</a>
    </form>
  </div>
</div>
